
.images{
    padding: 20px;
    height: 20px;
    width: 20px;
    margin-left: 50vw;
}
.end-credits{
    text-align: center;
    color: #000000;
    text-shadow: #000000;
    justify-content: center;
    align-items: center;
    display: flex;
}
.navbar-container{
    justify-content: end;
    
}
.name-head{
    text-align: center;

}